<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <title>Lee C. Colsant | Software Developer</title>
</head>
<body>
    <div id="top"></div>
    <nav class="navbar navbar-expand-lg fixed-top  navbar-light ">
        <a class="navbar" href="#">Lee C. Colsant | Software Developer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#top">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projectanchor">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="main">
            <div class="main-top">
                <img src="../static/avatar.png" class="img-fluid rounded" alt="avatar">
                <div id="console">
                    >><div id="magic"></div>
                </div>
            </div>
            <div class="main-bottom">
                <div id="projects">
                    <h4>Currrent Projects</h4>
                </div>
                <div id="projectanchor"></div>
                <div class="row justify-content-center">

                    <div class="card-deck">
                        <!-- <div class="col-sm-3 col-12"> -->
                            <div class="card" >
                                <a href="https://check-mate-app.herokuapp.com/" target="_blank"><img class="card-img-top" src="../static/check-mate-thumb.jpg" alt="Card image cap"></a>
                                <div class="card-body">
                                    <h5 class="card-title">check-mate</h5>
                                    <p class="card-text">Task-manager app using Angular front-end framework and Express.js and MongoDB on the back-end. Allow user to keep create, update, delete daily tasks.</p>
                                    <a href="https://vimeo.com/295519662" target="_blank" class="btn btn-primary">See demo</a>
                                    <a href="https://github.com/lcolsant/check-mate" target="_blank" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="col-sm-3 col-12"> -->
                            <div class="card">
                                <a href="https://mychatroom-app.herokuapp.com/" target="_blank"><img class="card-img-top" src="../static/chatroom-thumb.jpg" alt="Card image cap"></a>
                                <div class="card-body">
                                    <h5 class="card-title">myChatroom</h5>
                                    <p class="card-text">
                                            Node.js chatroom app allowing real time communication among users. Utilizes socket.io to establish connections between server and client. </p>
                                    <a href="https://vimeo.com/295950553" target="_blank" class="btn btn-primary">See demo</a>
                                    <a href="https://github.com/lcolsant/myChatroom" target="_blank" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="col-sm-3 col-12"> -->
                            <div class="card">
                                <img class="card-img-top" src="../static/nico-thumb.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">nico</h5>
                                    <p class="card-text">
                                            Plain text editor written in Java. Allows user to create, save, open files to local drive. Custom CSS formatting.</p>
                                    <a href="https://vimeo.com/295724068" target="_blank" class="btn btn-primary mt-auto">See demo</a>
                                    <a href="https://github.com/lcolsant/nico" target="_blank" class="btn btn-primary mt-auto">Github</a>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                 </div>
            </div>
        </div>
        <div id="about">
            <!-- <div class="about-left col-4">
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id massa at neque luctus auctor pellentesque nec nunc. Sed eget nisi at nisl tristique tempor. Nam rhoncus elementum magna, eget egestas libero malesuada sed. Sed quis posuere justo, ut gravida libero. In ut accumsan urna. Aliquam tristique nunc at orci tincidunt hendrerit. Suspendisse pharetra accumsan nulla a ullamcorper. Suspendisse potenti. Sed volutpat nunc eu felis aliquet vestibulum. Integer egestas hendrerit metus, imperdiet viverra nisi euismod non. Sed molestie tempor faucibus. Vestibulum nec diam laoreet velit vestibulum gravida ac vel nisl. Curabitur faucibus blandit mauris vitae euismod. Sed turpis purus, fermentum ut metus nec, sagittis mattis turpis. Praesent eleifend odio sed erat sagittis, eget pulvinar velit auctor.
    
    
                </p>
            </div>
            <div class="about-right col-6">
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id massa at neque luctus auctor pellentesque nec nunc. Sed eget nisi at nisl tristique tempor. Nam rhoncus elementum magna, eget egestas libero malesuada sed. Sed quis posuere justo, ut gravida libero. In ut accumsan urna. Aliquam tristique nunc at orci tincidunt hendrerit. Suspendisse pharetra accumsan nulla a ullamcorper. Suspendisse potenti. Sed volutpat nunc eu felis aliquet vestibulum. Integer egestas hendrerit metus, imperdiet viverra nisi euismod non. Sed molestie tempor faucibus. Vestibulum nec diam laoreet velit vestibulum gravida ac vel nisl. Curabitur faucibus blandit mauris vitae euismod. Sed turpis purus, fermentum ut metus nec, sagittis mattis turpis. Praesent eleifend odio sed erat sagittis, eget pulvinar velit auctor.
    
    
                </p>
            </div> -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <h4>About Me</h4>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id massa at neque luctus auctor pellentesque nec nunc. Sed eget nisi at nisl tristique tempor. Nam rhoncus elementum magna, eget egestas libero malesuada sed. Sed quis posuere justo, ut gravida libero. In ut accumsan urna. Aliquam tristique nunc at orci tincidunt hendrerit. Suspendisse pharetra accumsan nulla a ullamcorper. 
                    </div>
                    <div class="col-sm-3 col-12">
                    2 of 3
                    </div>
                    <div class="col-sm-3 col-12">
                    2 of 3
                    </div>
                </div>
            </div>
  
        </div>
    </div>
    <footer>
        <div class="icons">
            <a href="https://www.linkedin.com/in/leecolsant/" class="fa fa-linkedin" style="font-size:24px"></a>
            <a href="https://github.com/lcolsant" class="fa fa-github" style="font-size:24px"></a>
        </div>
        <p> Designed by Lee Colsant | @ 2018 </p>
    </footer>

    <!--smmooth scroll script-->
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });       
    </script>
    
    <!-- <div id="magic"></div> -->
    <script>
        var words = ["Hello, my name is Lee", "I love to code.", "I enjoy building things.", "I am a software developer.", "My latest projects are below."],
            el = document.getElementById('magic'),
            word_counter = 0,
            character_counter = 0;
        function updateText()
        {
            character = words[word_counter][character_counter++];
            if (character === ' ') {
                character = "&nbsp;" // use non-breaking space character
            }
            
            el.innerHTML = el.innerHTML+character;
            if(character_counter == (words[word_counter].length+1))  //if end of the word
            {
                word_counter++; 	//choose a different word
                character_counter = 0;	//start over with the first character of the word
                el.innerHTML = '';  //set the html to be blank
                //if we're displaying the last word, go back to the first word
                if(word_counter == words.length)
                    word_counter = 0;
            }
        }
        setInterval(updateText,125);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>